//Media//

.VideoConocenos {
  margin-bottom: 110px;
}

//Pagina Home
.imgHome {
  height: 500px;
}

.margin {
  margin-bottom: 50px;
}



//Pagina Save the Date

.videoConocenos {
  margin-top: 100px;
  margin-bottom: 90px;
}

.marginExtreme {
  margin-bottom: 100px;
}


//Pagina Carrito de compras
.size{
  width: 200px;
  height: 200px;
}