//pagina save the date//

.middle {
    text-align: center;
}

.subTituloNormal {
    font-size: 25px;
    color: $color-fuentes;
    text-align: center;
    font-weight: normal;
    margin-top: 100px;
    margin-bottom: 10px;
}

.Precio {
    font-size: 60px;
    color: $color-fuentes;
    text-align: center;
    font-weight: bold;
    font-family: "Tenor Sans", sans-serif;
    margin-top: 40px;
    margin-bottom: 80px;
}

.videoConocenos {
    margin-top: 100px;
    margin-bottom: 90px;
}

.border {
    margin: 110px;
    margin-bottom: 30px;
    padding: auto;
    border-radius: 24px;
}